In [1]:
import pandas as pd

In [2]:
happiness_df = pd.read_csv("world_happines_report.csv", header=0)
climate_df = pd.read_csv("Annual_Surface_Temperature_Change.csv", header=0)

In [3]:
happiness_df

,Country name,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,Finland,7.741,7.815,7.667,1.844,1.572,0.695,0.859,0.142,0.546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Denmark,7.583,7.665,7.500,1.908,1.520,0.699,0.823,0.204,0.548,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Iceland,7.525,7.618,7.433,1.881,1.617,0.718,0.819,0.258,0.182,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sweden,7.344,7.422,7.267,1.878,1.501,0.724,0.838,0.221,0.524,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Israel,7.341,7.405,7.277,1.803,1.513,0.740,0.641,0.153,0.193,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Congo (Kinshasa),3.295,3.462,3.128,0.534,0.665,0.262,0.473,0.189,0.072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Sierra Leone,3.245,3.366,3.124,0.654,0.566,0.253,0.469,0.181,0.053,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Lesotho,3.186,3.469,2.904,0.771,0.851,0.000,0.523,0.082,0.085,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Lebanon,2.707,2.797,2.616,1.377,0.577,0.556,0.173,0.068,0.029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,Afghanistan,1.721,1.775,1.667,0.628,0.000,0.242,0.000,0.091,0.088,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
happiness_df = happiness_df[['Country name', 'Ladder score',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual']]

In [5]:
climate_df

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.281,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.333,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518
2,3,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.192,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688
3,4,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.257,1.170,1.009,1.539,1.435,1.189,1.539,1.430,1.268,1.256
4,5,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.831,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,221,Western Sahara,EH,ESH,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.423,1.401,1.510,1.732,2.204,0.942,1.477,2.069,1.593,1.970
221,222,World,NaN,WLD,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.016,1.053,1.412,1.660,1.429,1.290,1.444,1.711,1.447,1.394
222,223,"Yemen, Rep. of",YE,YEM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,224,Zambia,ZM,ZMB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.790,0.917,1.450,1.401,0.105,0.648,0.855,0.891,0.822,0.686
224,225,Zimbabwe,ZW,ZWE,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.118,0.025,0.970,1.270,0.088,0.453,0.925,0.389,-0.125,-0.490

In [6]:
climate_df.columns

Index(['ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source',
       'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 'F1961', 'F1962',
       'F1963', 'F1964', 'F1965', 'F1966', 'F1967', 'F1968', 'F1969', 'F1970',
       'F1971', 'F1972', 'F1973', 'F1974', 'F1975', 'F1976', 'F1977', 'F1978',
       'F1979', 'F1980', 'F1981', 'F1982', 'F1983', 'F1984', 'F1985', 'F1986',
       'F1987', 'F1988', 'F1989', 'F1990', 'F1991', 'F1992', 'F1993', 'F1994',
       'F1995', 'F1996', 'F1997', 'F1998', 'F1999', 'F2000', 'F2001', 'F2002',
       'F2003', 'F2004', 'F2005', 'F2006', 'F2007', 'F2008', 'F2009', 'F2010',
       'F2011', 'F2012', 'F2013', 'F2014', 'F2015', 'F2016', 'F2017', 'F2018',
       'F2019', 'F2020', 'F2021', 'F2022'],
      dtype='object')

In [7]:
#get the temperature values from year 2006 to 2023 as thats what the hapiness report considers
temperature_columns = [f"F{year}" for year in range(2006, 2023)]

#calculate avergae
climate_df['Average_Temperature_2006_2022'] = climate_df[temperature_columns].mean(axis=1)
climate_df[['Country', 'Average_Temperature_2006_2022']].head()

                        Country  Average_Temperature_2006_2022
0  Afghanistan, Islamic Rep. of                       1.143706
1                       Albania                       1.307176
2                       Algeria                       1.476235
3                American Samoa                       1.142875
4      Andorra, Principality of                       1.640235

In [8]:
merged_df = pd.merge(happiness_df, climate_df, left_on='Country name', right_on='Country', how='inner')
merged_df.head()

,Country name,Ladder score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,ObjectId,...,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022,Average_Temperature_2006_2022
0,Finland,7.741,1.844,1.572,0.695,0.859,0.142,0.546,2.082,69,...,2.591,2.613,2.151,1.487,2.157,1.452,3.317,1.938,2.062,1.841353
1,Denmark,7.583,1.908,1.520,0.699,0.823,0.204,0.548,1.881,54,...,2.677,1.516,1.852,1.619,2.109,2.180,2.633,1.690,2.219,1.598059
2,Iceland,7.525,1.881,1.617,0.718,0.819,0.258,0.182,2.050,90,...,1.660,0.419,1.411,1.694,0.820,1.339,0.786,0.921,1.201,1.029647
3,Sweden,7.344,1.878,1.501,0.724,0.838,0.221,0.524,1.658,192,...,2.704,2.069,1.841,1.588,1.844,1.568,2.943,1.846,2.110,1.675294
4,Israel,7.341,1.803,1.513,0.740,0.641,0.153,0.193,2.298,97,...,0.871,1.331,1.607,0.735,2.003,1.212,1.451,1.786,1.079,1.163471

In [9]:
merged_df[['Country name', 'Ladder score',
       'Explained by: Log GDP per capita', 'Average_Temperature_2006_2022', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual']]

,Country name,Ladder score,Explained by: Log GDP per capita,Average_Temperature_2006_2022,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,7.741,1.844,1.841353,1.572,0.695,0.859,0.142,0.546,2.082
1,Denmark,7.583,1.908,1.598059,1.520,0.699,0.823,0.204,0.548,1.881
2,Iceland,7.525,1.881,1.029647,1.617,0.718,0.819,0.258,0.182,2.050
3,Sweden,7.344,1.878,1.675294,1.501,0.724,0.838,0.221,0.524,1.658
4,Israel,7.341,1.803,1.163471,1.513,0.740,0.641,0.153,0.193,2.298
...,...,...,...,...,...,...,...,...,...,...
95,Malawi,3.421,0.617,0.955059,0.410,0.349,0.571,0.135,0.136,1.203
96,Botswana,3.383,1.445,0.332471,0.969,0.241,0.567,0.014,0.082,0.066
97,Zimbabwe,3.341,0.748,0.284882,0.850,0.232,0.487,0.096,0.131,0.797
98,Sierra Leone,3.245,0.654,1.200118,0.566,0.253,0.469,0.181,0.053,1.068
99,Lebanon,2.707,1.377,1.306235,0.577,0.556,0.173,0.068,0.029,-0.073

In [10]:
max(merged_df["Ladder score"])

7.741

In [11]:
from graphviz import Digraph

In [12]:
dag = Digraph()

In [13]:
dag.node("Happiness", "Happiness (Ladder score)")
dag.node("Income", "Income (Log GDP per capita)")
dag.node("SocialSupport", "Social Support")
dag.node("LifeExpectancy", "Healthy Life Expectancy")
dag.node("Freedom", "Freedom to Make Life Choices")
dag.node("Generosity", "Generosity")
dag.node("Corruption", "Perceptions of Corruption")
dag.node("Temperature", "Average Temperature")
dag.node("Dystopia", "Dystopia + Residual")

In [14]:
dag.edge("Income", "Happiness")
dag.edge("SocialSupport", "Happiness")
dag.edge("Happiness", "LifeExpectancy")
dag.edge("Freedom", "Happiness")
dag.edge("Generosity", "Happiness")
dag.edge("Corruption", "Happiness")
dag.edge("Temperature", "LifeExpectancy")
dag.edge("Dystopia", "Happiness")

In [15]:
dag.edge("SocialSupport", "Income")
dag.edge("Income", "LifeExpectancy")
dag.edge("Income", "Freedom")

In [16]:
dag.render("happiness_dag", format="png", cleanup=False)
dag

### Total Effect Model
$Happiness_i$ ~ $Normal(\mu_iᵢ, \sigma^2²)$  
$\mu_i = \alpha + \beta_1 * Income_i + \beta_2 * Social_i$

**Priors**  
$\alpha$ ~ $Normal(0, 10)$  
$\beta_1$ ~ $Normal(0, 1)$  
$\beta_2$ ~ $Normal(0, 1)$  
$\sigma$ ~ $Exponential(0, 1)$

### Direct Effect Model
$Happiness_i$ ~ $Normal(\mu_iᵢ, \sigma^2²)$  
$\mu_i = \alpha + \beta_1 * Income_i + \beta_2 * Social_i + \beta_3 * Freedom_i$

**Priors**  
$\alpha$ ~ $Normal(0, 10)$  
$\beta_1$ ~ $Normal(0, 1)$  
$\beta_2$ ~ $Normal(0, 1)$  
$\beta_2$ ~ $Normal(0, 1)$  
$\sigma$ ~ $Exponential(0, 1)$